<!DOCTYPE html>
<html>
<head>
  <title>Getting Started</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <%=link_to 'Home',root_path %>
  <%=link_to 'about',home_about_path %>
  <%=link_to 'Pricing', home_pricing_path %>
  <%=link_to 'Contact', home_contact_path %>

<%= yield %>

</body>
</html>
